### enviroments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Kate ###
# Swap Files #
.*.kate-swp
.swp.*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

